<div class="menushow" style="display:none">
	{% include home/sidebar.html %} <br>
	{% include home/links.html %} <br>
	<h2 class="closemenu"><i class="fa fa-times" aria-hidden="true"></i></h2>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/granim/1.1.0/granim.min.js"></script>
<script src="{{ "/assets/search.min.js" | relative_url }}"></script>
<script src="{{ "/assets/ideal-image-slider.min.js" | relative_url }}"></script>
<script src="{{ "/assets/main.js" | relative_url }}"></script>