/* Common Layout */

/* Normalising somewhat */
/* End norm */

// Add some flair
strong { // Show a white highlight around text
	font-weight: 800;
	background-color: #F38181;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 10px;
}
body {background-color: #FFF1C1}
li, p {
	font-size: $base-font-size * 1.2;
}

/* Menubar STyLing */
.titlebox {
	a {text-decoration: none; color: white; &:hover, &:visited {text-decoration: none;}}
	font-family: $display-font-family;
	font-weight: 800;
	font-size: $display-font-size * 6;
	line-height: 1;
	letter-spacing: 2px;
	display: inline-block;
}

.menubar {
	background-color: $background-color;
	margin: 0; // Fush against the top
	background-color: #FFF1C1;
	overflow: hidden;
	height: 250px;
	min-width: 100%;
}

.menuitems {
	display: inline-block;
	position: absolute;
	top: 105px;
	margin-left: $spacing-unit * 5;
	ul {list-style-type: none;}
	li { 
		display: inline;
		padding-right: $spacing-unit * 5;
		a {
			text-decoration: none;
			&:hover, :visited {text-decoration: none;}
			font-size: 2vw;
			color: $text-color;
		}
	}
}

.mobileitems {
	ul {list-style-type: none; padding: 0; margin: 0;}
	li {
		text-align: center;
		display: block;
		background-color: #F38181; 
		a {
			text-decoration: none;
			&:hover, :visited {text-decoration: none;}
			font-size: $display-font-size * 2;
			color: $background-color;
		}
	}
	display: none;
	width: 100%;
}

.searchicon {
	display: inline-block;
	position: absolute;
	top: 105px;
	right: $spacing-unit * 3;
	font-size: $display-font-size;
}

.menuicon {
	display: none;
	position: absolute;
	top: 95px;
	right: $spacing-unit*2;
	font-size: $display-font-size;
	color: $text-color;
}

@include media-query($on-laptop) {
	.menuitems {display: none;}
	.searchicon {display: none;}
	.menuicon {display: inline-block;}
}
/* END Menubar Styling */





/* News Section */
.news {
	font-size: 1.5em !important;
	width: 50%;
	background-color: #FFF1C1;
	text-align: right;
	ul {list-style-type: none;}
	li {padding-right: 5px; line-height: 1.2; font-style: italic; font-size: 1em;}
	a { color: $text-color; text-decoration: none; &:hover, :visited {text-decoration: underline;}}
	h2 {line-height: 1.3}
	float: left;
	margin: 0;
	padding: 5px;
	padding-right: $spacing-unit/2;
	height: 260px;
}
.quoteoftheday {
	font-size: 1.5em;
	width: 50%;
	float: right;
	background-color: #F38181;
	color: $background-color;
	padding: 5px;
	padding-left: $spacing-unit/2;
	margin: 0;
	height: 260px;
}
/* End Section*/

/* Searchmenu show */
.searchmenu {
	display: none;
	max-width: 100%;
	background-color: #F38181;
	height: 100px;
	input {
		border: none;
		background-color: #F38181;
		height: 50px;
		margin-top: 25px;
		width: 250px;
		margin-left: 250px;
		display: inline-block;
		&:focus {
			outline: none;
		}
		font-size: $display-font-size;
		font-family: $base-font-family;
		color: $background-color;
		letter-spacing: 3px;
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 			 color: $background-color;
		}
		&::-moz-placeholder { /* Firefox 19+ */
  			color: $background-color;
		}
		&:-ms-input-placeholder { /* IE 10+ */
  			color: $background-color;
		}
		&:-moz-placeholder { /* Firefox 18- */
  			color: $background-color;
		}

	}

}
@include media-query($on-laptop) {
	.searchmenu {
		input {
			position: absolute;
			left: -150px;
		}
	}
}
/* End section */


/* Article */
.onegoodarticle {
	display: inline-block;
	max-width: $content-width;
	margin-left: $content-width/3;
	padding: $spacing-unit;
	h1, h2, h3, h4 {
		font-size: $display-font-size * 1.5;
	}
	p {
		font-size: $base-font-size * 1.2;
	}
}

@include media-query($on-laptop) {
	.onegoodarticle {margin: auto;}
}
/* End article */


.wrapbox { // shows a white box
	border: none;
	display: block;
	background-color: white;
	padding: 5px;}
	h1, h2, h3, h4 {
		font-family: $display-font-family;
}

// Search results
#search-results {
	font-size: $base-font-size * 1.2;
	font-family: $display-font-family;
}


