<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>


		<canvas id="diecanvas"></canvas>
    <main class="page-content" aria-label="Content">
		
      <div class="wrapper">
		<div class="news-and-logogram">
			<div class="news">{% include home/news-feed.html %}</div>
			<div class="logogram">{% include home/logogram.html %}</div>
		</div>
		<div class="gallery-and-sidebar">
			<div class="post-content">
				<h2 class="post-title">{{ page.title }}</h2>
				{{ content }}
			</div>
			<div class="sidebar">{% include home/sidebar.html %}</div>
		</div>
		
		<div class="aminimalisticfooter">
			<p>Copyright &copy; 2017-2018</p>
		</div>
		
      </div>
    </main>

		{% include scripts-at-the-bottom.html %}
  </body>

</html>
