<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
   	<main class="page-content" aria-label="Content">
      	<section class="menubar">
	      	<div class="titlebox">
	      		{% if page.htmltitle %}{{ page.htmltitle }}{% endif %}{% if page.htmltitle==null %}<a href="{{ "/\" | relative_url }}"><strong>ISE</strong><br><strong>RC</strong></a>{% endif %}
	      	</div>
	      	<div class="menuitems">
	      		<ul>
	      			<li><a href="#">Alef <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
	      			<li><a href="/math">Math <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
	      			<li><a href="/physics">Phy <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
	      			<li><a href="/chemistry">Chem <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
	      			<li><a href="#">He <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
	      		</ul>
	      	</div>
	      	<div class="searchicon"><i class="fa fa-search fa-lg" aria-hidden="true"></i></div>
	      	<div class="menuicon"><i class="fa fa-bars fa-3x" aria-hidden="true"></i></div>
	    </section>
	    <div class="mobileitems">
	      		<ul>
	      			<li><a href="#">Alef</li>
	      			<li><a href="/math">Math</li>
	      			<li><a href="/physics">Phy</li>
	      			<li><a href="/chemistry">Chem</li>
	      			<li><a href="#">He</a></li>
	      			<li><a href="#" class="mobilesearch">Search</a></li>
	      		</ul>
	    </div>
	    <div class="searchmenu">
	    	<form action="/search" method="get"><input type="text" id="search-query" name="q" placeholder="Type something..."></form>
	    </div>
	    <section class="news">
	    	<h2>News & Updates</h2>
	    	<ul>
			  	<li><a href="#">Notice</a></li>
			  	<li><a href="{{ "/posts" | relative_url }}">more</a></li>
			</ul>
	    </section>
	    <section class="quoteoftheday">
	    	<h2>Quote</h2>
	    	<blockquote>"Fight the power!"</blockquote>
	    </section>
	    <article class="onegoodarticle">
	    	{{ content }}
	    </article>
    </main>
		{% include scripts-at-the-bottom.html %}
  </body>

</html>