<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
   	<main class="page-content" aria-label="Content">
      	<section class="menubar">
	      	<div class="titlebox">
	      		<a href="{{ "/" | relative_url }}"><strong>ISE</strong><br><strong>RC</strong></a>
	      	</div>
	      	<div class="menuitems">
	      		<ul>
	      			<li><a href="#">Alef <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
	      			<li><a href="#">Bet <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
	      			<li><a href="#">Gimel <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
	      			<li><a href="#">Dalet <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
	      			<li><a href="#">He <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
	      		</ul>
	      	</div>
	      	<div class="searchicon"><i class="fa fa-search fa-lg" aria-hidden="true"></i></div>
	      	<div class="menuicon"><i class="fa fa-bars fa-3x" aria-hidden="true"></i></div>
	    </section>
	    <div class="mobileitems">
	      		<ul>
	      			<li><a href="#">Alef</li>
	      			<li><a href="#">Bet</li>
	      			<li><a href="#">Gimel</li>
	      			<li><a href="#">Dalet</li>
	      			<li><a href="#">He</a></li>
	      		</ul>
	    </div>
	    <section class="news">
	    	<h2>News & Updates</h2>
	    	<ul>
			  	{% for post in site.posts %} {% if post.newsfeed %}
			    <li>
			    	<a href="{{ post.url }}">{{ post.title }}</a>
			    </li>
			  	{% endif %}{% endfor %}
			  	<li><a href="{{ "/posts" | relative_url }}">more</a></li>
			</ul>
	    </section>
	    <section class="quoteoftheday">
	    	<h2>Quote</h2>
	    	<blockquote>"Raven desk forevermore."</blockquote>
	    </section>
	    <article class="onegoodarticle">
	    	<h1>One Dumb Article</h1>
	    	Many early New Yorker cartoonists did not caption their own cartoons. In his book The Years with Ross, Thurber describes the newspaper's weekly art meeting, where cartoons submitted over the previous week would be brought up from the mail room to be gone over by Ross, the editorial department, and a number of staff writers. Cartoons often would be rejected or sent back to artists with requested amendments, while others would be accepted and captions written for them. Some artists hired their own writers; Helen Hokinson hired James Reid Parker in 1931. (Brendan Gill relates in his book Here at The New Yorker that at one point in the early 1940s, the quality of the artwork submitted to the magazine seemed to improve. It later was found out that the office boy (a teen-aged Truman Capote) had been acting as a volunteer art editor, dropping pieces he didn't like down the far edge of his desk.)[25]

Several of the magazine's cartoons have climbed to a higher plateau of fame. One 1928 cartoon drawn by Carl Rose and captioned by E. B. White shows a mother telling her daughter, "It's broccoli, dear." The daughter responds, "I say it's spinach and I say the hell with it." The phrase "I say it's spinach" entered the vernacular (and three years later, the Broadway musical Face the Music included Irving Berlin's musical number entitled "I Say It's Spinach (And The Hell With It)").[26] The catchphrase "back to the drawing board" originated with the 1941 Peter Arno cartoon showing an engineer walking away from a crashed plane, saying, "Well, back to the old drawing board."[27][28]
	    </article>
    </main>
		{% include scripts-at-the-bottom.html %}
  </body>

</html>