<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
   	<main class="page-content" aria-label="Content">
      	<section class="menubar">
	      	<div class="titlebox">
	      		<a href="{{ "/" | relative_url }}"><strong>ISE</strong><br><strong>RC</strong></a>
	      	</div>
	      	<div class="menuitems">
	      		<ul>
	      			<li><a href="#">Alef <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
	      			<li><a href="#">Bet <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
	      			<li><a href="#">Gimel <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
	      			<li><a href="#">Dalet <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
	      			<li><a href="#">He <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
	      		</ul>
	      	</div>
	      	<div class="searchicon"><i class="fa fa-search fa-lg" aria-hidden="true"></i></div>
	      	<div class="menuicon"><i class="fa fa-bars fa-3x" aria-hidden="true"></i></div>
	    </section>
	    <div class="mobileitems">
	      		<ul>
	      			<li><a href="#">Alef</li>
	      			<li><a href="#">Bet</li>
	      			<li><a href="#">Gimel</li>
	      			<li><a href="#">Dalet</li>
	      			<li><a href="#">He</a></li>
	      		</ul>
	    </div>
	    <section class="placeholder"></section>
    </main>
		{% include scripts-at-the-bottom.html %}
  </body>

</html>